* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
  }
  
  .nav {
    display: flex;
    align-items: center;
    /* position: relative; */
    width: 98.7vw;
    top:0;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 1px 10px #999;
  }
  
  .logoNav img {
    height: 4rem;
    margin-left: 0px;
  }
  /* .topBottomNav {
    flex-grow: 1;
  } */
  .topNav {
    width: 98.6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border: none;
    padding-left: 5rem;
    background-color: #E11B23;
  }
  .flex{
    display: flex;
    gap: 10px;

  }
  Navlink{
    text-decoration: none;
  }
  .topNavLeft {
    display: flex;
    margin-left: 120px;
    margin-bottom: 0;
  }
  .topNavLeftItem{
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 700;
    border-right: 1px solid black;
    padding: 12px;
  }
  .topNavLeftItem:nth-child(1){
    border-left: 1px solid black;
  }
  .topNavLeftItem:hover{
    /* background-color: #E11B23; */
    /* opacity: 0.2; */
    background-color: white;
  }
  
  .topNavRight { 
    gap:20px;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 4rem;
    color:white;
    border: 2px solid white;
  }
  
  .bottomNav {
    background-color: white; 
    /* position: fixed; */
    height: 4rem;
    width: 98.6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
  }
  .bottomNavLeft {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1rem;
    height: 100%;
    align-items: center;
    margin-left: 0px;
  }
  .categoryParent {
    margin-right: 0.5rem;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    font-weight: 700;
    font-size: medium;
    height: 3rem;
    margin-right:20px;
  }
  /* .categoryUnderline { */
  .categoryParent::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: red;
    height: 0.2rem;
    bottom: 0;
    display: none;
  }
  .categoryParent:hover::after {
    /* background-color: aqua; */
    /* border-bottom: 5px solid red; */
    display: block;
  }
  /* .bottomNavRight {
    font-size: 1.1rem;
    margin-right: 50px;
    border: 2px solid green;

  } */
  /* .search-container {
    position: relative;
    display: inline-block;
  }
  .search-icon {
    cursor: pointer;
  } */
  /* 
  .search-bar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  } */
  /* .active{
    text-decoration: none;
  }
   */
  /* .search-container:hover .search-bar {
    display: block;
  } */
  .search-icon:active{
    transition: all 1s ease-in-out;
    border-radius: 5px;
    padding: 0 0.5rem;
    border: none;
  }