*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    gap: 10px;
}

.list-main{
    width: 98vw;
    display: flex;
    margin-top: 8rem;
}
.listsort-sec{
    width: 18%;
    padding: 10px;
    
}
.price-input{
    width: fit-content;
}
.price-label{
    font-size: 0.8rem;
}
.main-cart-container{
    width: 82%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
   
}
.list-cart-container{
    height: 550px;
    width: 350px;
}
.cart-img{
    width: 100%;
    height: 300px;
    border-radius: 3px;  
    margin-bottom: 1rem;  
}
.cart-img:hover{
 transform: scale(1.1);
 transition: all 0.5s ease-in-out;
}

.para-description{
    margin: 0;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.listName{
    margin-bottom: 0;
}
.title{
    margin-bottom: 0;
}

